.services {
    @apply mt-10;

    .services-content {
        @apply flex flex-wrap justify-around gap-10 mt-10;

        .services-content-item {
            @apply border-dark p-12 flex justify-between;
            flex: 1 1 400px;
            max-width: 600px;
            border-width: 1px;
            border-bottom-width: 5px;
            border-radius: 45px;

            .item-label-white {
                h3 {
                    @apply bg-white;
                }
            }
            .item-label-green {
                h3 {
                    @apply bg-green;
                }
            }
            .item-label-dark {
                h3 {
                    @apply bg-dark;
                }
            }
            
            .services-content-item-info {
                @apply flex flex-col justify-between shrink-0 w-full;

                .service-content-item-label {
                    @apply flex flex-col justify-start shrink-0;
                    
                    h3 {
                        @apply w-fit px-2;
                        height: 35px;
                        border-radius: 7px;
                    }
                }

                .link-container {
                    @apply flex justify-between;
                    a {
                        @apply flex flex-col justify-end;
                    }
                    .service-content-item-link {
                        @apply flex;

                        span {
                            display: none;
                        }
                    }
                }
            }

            .services-content-item-image {
                display: none;
            }
        }
    }

    @screen lg {
        @apply mt-36;

        .topic-header {
            p {
                width: 580px;
            }
        }

        .services-content {
            @apply justify-between mt-20 ;
        
            .services-content-item {
                flex: 1 1 430px;
                height: 331px;
                
                .services-content-item-info {
                    @apply w-fit;
                    .service-content-item-label {
                        h3 {
                            @apply h-10;
                        }
                    }

                    .link-container {
                        .service-content-item-link {
                            span {
                                @apply ml-4 self-center;
                                display: inline;
                            }
                        }

                        .services-content-item-image-mobile {
                            display: none;
                        }
                    }
                }
    
                .services-content-item-image {
                    @apply flex;
                    img {
                        @apply self-center;
                    }
                }
            }
        }
    }
}