.main-1 {
    @apply flex justify-center mt-8;

    .main-1-contant {
        @apply flex flex-col justify-around;

        button {
            @apply bg-dark text-white w-full mt-8;
        }
    }
    .main-1-image {
        display: none;
    }
    .main-1-mobile-image {
        @apply self-center;
    }
}
.main-1-companies {
    @apply flex justify-around mt-12 flex-wrap;
    
    .img-container {
        @apply flex justify-center w-1/2;
    }
}

@screen sm {
    .main-1-companies {
        .img-container {
            @apply w-1/3;
        }
    }
}

@screen lg {
    .main-1 {
        @apply justify-between mt-16;
    
        .main-1-contant {
            @apply flex flex-col justify-between;
            width: 515px;
    
            p {
                max-width: 460px;
            }
    
            button {
                @apply w-fit;
            }
        }

        .main-1-image {
            display: block;
        }

        .main-1-mobile-image {
            display: none;
        }
    }
    .main-1-companies {
        @apply justify-between mt-24;
        .img-container {
            @apply flex justify-center w-fit;
        }
    }
}