.case-studies {
    @apply mt-10;

    .topic-header {
        p {
            @apply w-fit;
        }
    }

    .case-studies-content {
        @apply flex mt-10 text-white overflow-hidden;

        .case-studies-content-item {
            @apply flex flex-col justify-between mx-5 shrink-0 gap-5 bg-dark;
            max-width: 350px;
            padding: 42px 50px;
            border-radius: 45px;

            a {
                @apply flex text-green;

                span {
                    @apply mr-4;
                }
            }
        }

        .case-studies-content-border {
            display: none;
        }
    }
}

@screen lg {
    .case-studies {
        @apply mt-20;
        .topic-header {
            p {
                width: 580px;
            }
        }

        .case-studies-content {
            @apply mt-20 bg-dark;
            padding: 70px 60px;
            border-radius: 45px;
    
            .case-studies-content-item {
                @apply p-0 mx-0 shrink;
    
                a {
                    @apply mt-0;
                }
            }
    
            .case-studies-content-border {
                @apply flex flex-col border-white mx-16 h-full;
                min-height: 190px;
                border-width: 1px;
            }
        }
    }
}