.team {
    @apply mt-10;

    .topic-header {
        p {
            @apply w-fit;
        }
    }

    .team-content {
        @apply flex flex-wrap justify-around gap-10 mt-10;

        .team-content-item {
            @apply flex flex-col border-dark;
            flex: 1 1 380px;
            max-width: 500px;
            border-radius: 45px;
            padding: 40px 35px;
            border-width: 1px;
            border-bottom-width: 5px;

            .team-content-item-header {
                @apply flex gap-5;

                .team-content-item-header-right {
                    @apply flex flex-col w-full justify-between;

                    .team-content-item-name {
                        @apply flex flex-col justify-end;
                    }
    
                    img {
                        @apply self-end;
                    }
                }
            }

            .team-content-item-border {
                @apply border-black my-7;
                border-width: 1px;
            }
        }
    }

    .team-content-button-container {
        @apply mt-10 flex justify-end;
        
        button {
            @apply bg-black text-white w-full;
        }
    }
}

@screen lg {
    .team {
        @apply mt-20;

        .topic-header {
            p {
                width: 473px;
            }
        }
    
        .team-content {
            @apply justify-between;
        }

        .team-content-button-container {
            button {
                width: 269px;
            }
        }
    }
}