.team {
    @apply mt-12;
    .topic-header {
        p {
            width: 473px;
        }
    }

    .team-content {
        @apply mt-10 flex flex-wrap justify-between;
        .team-content-item {
            @apply flex flex-col mt-10;
            width: 387px;
            height: 331px;
            border-radius: 45px;
            padding: 40px 35px 40px 35px;
            border-width: 1px 1px 5px 1px;
            border-color: black;

            .team-content-item-header {
                @apply flex;

                .team-content-item-header-right {
                    @apply flex flex-col justify-between w-full ml-5;

                    .team-content-item-name {
                        @apply flex flex-col justify-end;
                    }
    
                    img {
                        @apply self-end;
                    }
                }
            }

            .team-content-item-border {
                @apply w-full border-black my-7;
                border-width: 1px;
            }
        }
    }
    .team-content-button-container {
        @apply mt-10 flex justify-end;
        
        button {
            @apply bg-black text-white py-5 px-9;
            width: 269px;
            border-radius: 14px;
        }
    }
}