.working-process {
    @apply mt-10;

    .working-process-content {
        @apply flex flex-col justify-between mt-10;
        gap: 20px;

        .active-content {            
            @apply bg-green;
        }

        .inactive-content {
            @apply bg-gray;

            .working-process-content-item-border {
                display: none;
            }

            p {
                display: none;
            }
        }

        .working-process-content-item {
            @apply border-black;
            padding: 30px;
            border-radius: 45px;
            border-width: 1px;
            border-bottom-width: 5px;

            .working-process-content-item-header {
                @apply flex justify-between;

                .working-process-content-item-header-label {
                    @apply flex;

                    .number {
                        @apply font-medium mr-3;
                        font-size: 30px;
                        line-height: 38px;
                    }

                    h3 {
                        @apply self-center font-medium;
                        font-size: 18px;
                        line-height: 23px;
                    }
                }
                button {
                    @apply p-0;
                }
                img {
                    width: 30px;
                    height: 30px;
                }
            }

            .working-process-content-item-border {
                @apply w-full my-5 border-black;
                border-width: 1px;
            }
        }
    }
}

@screen lg {
    .working-process {
        @apply mt-20;
    
        .working-process-content {
            @apply mt-20;
            gap: 30px;

            .working-process-content-item {
                padding: 41px 60px;
    
                .working-process-content-item-header {
                    .working-process-content-item-header-label {
                        .number {
                            @apply font-medium mr-6;
                            font-size: 60px;
                            line-height: 77px;
                        }

                        h3 {
                            @apply self-center;
                            font-size: 30px;
                            line-height: 38px;
                        }
                    }

                    img {
                        width: 58px;
                        height: 58px;
                    }
                }
    
                .working-process-content-item-border {
                    @apply my-10;
                }
            }
        }
    }
}