.get-proposal {
    @apply mt-20 flex justify-between items-center;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 45px;
    background-color: #F3F3F3;
    height: 347px;

    .get-proposal-content {
        @apply flex flex-col justify-between;
        width: 500px;
        height: 227px;

        h3 {
            @apply font-medium text-3xl;
            line-height: 38px;
        }
        p {
            @apply font-normal text-lg;
            line-height: 23px;
        }
        button {
            @apply bg-black text-white text-xl font-normal rounded-xl px-9 py-5 w-fit;
        }
    }
}