footer {
    @apply bg-black flex flex-col mt-8  text-white;
    padding: 55px 60px 50px 60px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;

    .footer-nav-bar {
        @apply flex justify-between;

        .positivus-logo {
            @apply flex align-text-top mr-4;
    
            .logo-icon {
                @apply mr-3 self-center;
            }
        }
    
        .nav-bar {
            @apply flex align-baseline text-xl font-normal align-baseline grow max-w-lg underline;
    
            .links-list {
                @apply flex justify-between grow;
    
                li {
                    @apply self-center; 
                }
            }
        }

        .social-media-icons {
            @apply flex;
            img {
                @apply mx-2;
            }
        }
    }

    .footer-contact-us {
        @apply flex justify-between mt-20;

        .contacts {
            @apply flex flex-col justify-between;
            h4 {
                @apply w-fit px-2 text-black;
                background-color: #B9FF66;
                border-radius: 7px;
            }
        }

        .subscribe-to-news {
            @apply flex justify-between grow;
            max-width: 634px;
            background-color: #292A32;
            border-radius: 14px;
            padding: 58px 40px 58px 40px;

            input {
                @apply border-white text-white mr-5 grow;
                border-width: 1px;
                border-radius: 14px;
                padding: 20px 35px 20px 35px;
                background-color: #292A32;
            }
            input::placeholder {
                @apply text-white self-center;
            }

            button {
                @apply text-xl text-black;
                border-radius: 14px;
                padding: 20px 35px 20px 35px;
                background-color: #B9FF66;
            }
        }
    }

    .line {
        @apply border-white w-full mt-20;
        border-width: 1px;
    }

    .privacy-policy {
        @apply mt-20;

        span {
            @apply mr-10;
        }

        a {
            @apply underline;
        }
    }
}